.ohe-cal,
.ohe-cal-row {
  clear: both;
}

.ohe-cal .ohe-cal-row table {
  float: left;
}

.ohe-cal td.ohe-cal-selected_by_profile {
  background: #00877b;
  color: white;
}

.ohe-cal td.ohe-cal-selected {
  background: #840077;
  color: white;
}

.ohe-cal td.ohe-cal-selected_by_profile.ohe-cal-selected {
  /* Gradient to indicate both */
  background: -webkit-linear-gradient(135deg, #00877b, #840077); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #00877b, #840077); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #00877b, #840077); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #00877b, #840077); /* Standard syntax */
}

.ohe-cal-rows {
  position: relative;
}

.ohe-cal-popup {
  display: none;
  border: 3px solid #dddddd;
  margin: 3px;
}

.cal-profile-form ul {
  float: left;
}

.ohe-cal .ohe-cal-head a {
  margin: 5px 30px;
}

.ohe-cal td:hover {
  cursor: pointer;
}

.ohe-cal table {
  border: 3px solid #dddddd;
  margin: 3px;
  width: auto; /*drupal nec*/
}

.ohe-cal td {
  background-color: #dddddd;
  padding: 0 4px;
}

.ohe-cal td.ohe-cal-inactive {
  background-color: transparent;
}

.ohe-cal th {
  padding: 3px;
}
