.ohe-timetable td {
  border-right: 1px solid #dddddd;
  /*border-bottom: 1px solid #dddddd;*/
  /*odd-even stripes reichen*/
  padding: 0.5em 0; /*overwrite std*/
  cursor: url(./img/plus.gif), pointer;
}

.ohe-remove .ohe-timetable td {
  cursor: url(./img/minus.gif), pointer;
}

.ohe-timetable td:first-child {
  text-align: right;
  padding: 0.5em;
}

.ohe-timetable thead th {
  /*width: 4%;*/
  /*enforce same with for the cols-> use first as buffer*/
  padding: 0;
  /*  border-right: 0 none;
    border-left: 0 none;*/
  height: 2em;
  position: relative;
  /*text-align: right;*/
}

.ohe-timetable thead th:first-child {
  width: 1%; /*minimize first col*/
}

.ohe-timetable thead th span {
  /*display: block;*/
  display: block;
  overflow: visible;
  position: absolute;
  right: -50%;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
  /*position: absolute;*/
  /*right: -0.5em;*/
}

.ohe-add .ohe-timetable td.ui-selected {
  background-color: #a6a7a2;
  border-color: #a6a7a2;
}

.ohe-remove .ohe-timetable td {
  background-color: #a6a7a2;
}

.ohe-remove .ohe-timetable td.ui-selectee {
  border-color: #a6a7a2;
}

.ohe-remove .ohe-timetable td.ui-selectee.ui-selected {
  border-color: #dddddd;
}

.ohe-remove .ohe-timetable td.ui-selected {
  background-color: transparent;
}

.ohe-add .ohe-timetable td.ui-selecting {
  background-color: #008d4c;
  border-color: #008d4c;
}

.ohe-remove .ohe-timetable td.ui-selecting {
  background-color: #f4543c;
  border-color: #f4543c;
}

.ohe-timetable-wrapper .ohe-timetable.ohe-hdiv1 td:nth-child(1n+1),
.ohe-timetable-wrapper .ohe-timetable.ohe-hdiv2 td:nth-child(2n+1),
.ohe-timetable-wrapper .ohe-timetable.ohe-hdiv4 td:nth-child(4n+1),
.ohe-timetable-wrapper .ohe-timetable.ohe-hdiv12 td:nth-child(12n+1),
.ohe-timetable-wrapper .ohe-timetable.ohe-hdiv60 td:nth-child(60n+1) {
  border-color: #727272;
}

.ohe-add .ohe-switch-stat input.ohe-add,
.ohe-remove .ohe-switch-stat input.ohe-remove {
  cursor: not-allowed;
  opacity: 0.5;
}
